body {
margin: 0 auto;
}
.section {
    height: 100vh;
    background-size: cover;
}
#main {
    background-image: url(https://s3-alpha-sig.figma.com/img/6d7a/23be/cb6af393851dc03dd35d09417c2ceadd?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=U9DRZRYcHkrZYtLKgvIFFql-SfdJv2uYt8qmo0-BMvIQGIBfDgG3U6VUiFCvU2Ns7QLbB7-KJi8nptIOKuJUD20wcN9ehJGjjV~3PCe2iHtnAVHAQlNzdCXfoiHTYBGvoJZkNcH98iuz1UcixJcF4ue5t1NKIBIAXnt1iyLkdGE~YciYhkV1aAwRPTyWuREP-U5WULs272d-ygXlMN1gPisqVQcjwejVlsBFMbbrtJxrbtKLVxOUQ9IaAJYCe6TNcOZXOvXAfjLsnkEypoORZLSZ-W-f64vqYpx0rhaADa3URNYSfgeoxWV-jc-IF~ASHFwc9ePhzGTHTtBUA~wjRw__);
}
.div {
    text-align: center;
    margin: 0;
    padding-top: 128px;
}
.h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    margin: 0;
}
.p1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}
.p2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
}
#main-color {
    color: #ffff;
}
.button {
    padding: 10px 40px;
    margin-right: 4px;
    border: 0;
    border-radius: 4px;
    background: #F4F4F4CC;
    backdrop-filter: blur(8px);
}
.button-2 {
    padding: 10px 50px;
    margin-left: 4px;
    border: 0;
    border-radius: 4px;
    background: #171A20A6;
    backdrop-filter: blur(8px);
    color: #ffff;
}
.div-2 {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}
.div-3 {
    text-align: center;
    color: #ffff;
    margin-top: 50px;
}
.a {
    color: #ffff;
}
.p3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}
header {
    position: fixed;
    width: 100%;
    color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #00000005;
    backdrop-filter: blur(64px);
    z-index: 10;
}
#header-ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
} 
#header-id {
    margin-left: 210px;
}
#logo {
    padding-top: 10px;
}
#model-3 {
    background-image: url(https://s3-alpha-sig.figma.com/img/d6e6/6c6b/c7b9a89b28e7054d63200682392b3184?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Wg6ec6UhklOBNnA2i916PF~A8SKQuA09dkvfNYFAYZJP0Kb1WXw5EkaMdBrju0hlT8f3n9~l4xKHgQq2PVoW1FxnRvyMRTRCQeB2bi1iUChKAdZuAFnshQWc70ZWHgHQvNIKPuKYVsTIp5QInU1IGBdYMKD3gmkS0J~BMlsArrhd0StUt2mqJc6MOJbfrptUYcVkhY1KQm85H8OM0qmJFdq21GdLrkbr0Jzx7GW5~j9o3-9sXs~3cCbSD5oMGHlfs2UnfwU2G9qQLSQ1xu9MhxOCQRXVkUnJHTq~9jWv1NVAnqEYtFstsdLhLmLB~nllQFRAsiA9WcQEgvC8TRvUcA__);
}
#model-3-color {
    color: #000;
}
#model-x {
    background-image: url(https://s3-alpha-sig.figma.com/img/7348/b3e8/d0d912a18fa6ec4f1888f100bc845c36?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HGOmdURFdCXlaEWFNTUIu9lA7ZXMvgOmUsB85UgwaHSVd1VyyfJ3ocVrsGZ~hBGStCtQNyZw4QnGSg2XdnWxONPWf6hWSJrx0IZps4jwbokK3wp6kGsy~1x207CzoYcNnGbKQD4pPqdvs6vDDLXGG52L~nttQR5IvRBnTuOxd9N04oAcmyLi3f6rvjl1dupV5fz90gO031q8wzCZ7c8aRhTkptViL1AcuuvQitQyZZtjF9vURulsASeQkLE~VdNeittzAHWfcwC1llb9jJI8WmVM3t9w6lllYYa8U4Mu4JiYdIDJi5nKV3dLW4pleroC-tbMN~cGrM-XM4q7wO98oQ__);
}
#model-s {
    background-image: url(https://s3-alpha-sig.figma.com/img/8520/0e04/bd6a0fdc156a53b211754b905057b7df?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=oCkDzr-MvyUddcsE4ZWX7n0KZ68Fv2weG5VdlxLYvMwlJyrv2dPQWMgwAOThHmUOkch6v52VeSWT~3av~utRKAlRWHZvxbaqYmpcdLWlI1LrSHTPaRNTtUxy9qanhswNzwWf~dQinfO6kuhPzFGIvxeLhFHzV7qlPzrb-OqFwKPTbpNYStngMk0yQ1T81o2f9SXYMqZeCScp~~Izz16iLkyGexPouqzNrQvBTb9sTz7iziSZN3DYmFL~Nl5lj7JqGsb2IJmvsGzhn5pdhrCctaIrSiZxNb3o2DMmFGxo~GjQyH5efGbYQHT98Hr7V39XngnQwAzfkMhufJQR8kzYFA__);
}
#cybertruck {
    background-image: url(https://s3-alpha-sig.figma.com/img/76d8/53f4/a13f230d90c69b3806b4b679cf16c9ed?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=l7JU4Gh2Rh3PM02nsgSI0n3g84KduATTYmUkP5qHEA9FdKyUyUnxIjlXVYvWtGJgr9zMW1MF1gUIEE4E8mYtBYQgHHQrXX2rfQvl572kHEDdafd-EmeIufliCSE4sknfQKSqM1~PBk6ubg9vKxa1zPa2SgSY0S5sdxf0tMgz43BiKrEpHYmYUTP-5p5QH9SefRXq0FQyoEQHypDt6bvcNe8c1uAkeC2PdHz~vDK0c55iRVPZVbv~0ZKBAbH1K7ChBnOoQR2kTlWMuAOIhoK~75tajZfAa4hX0scNjh8D9YatQaKVoJjWTcdoT6LtGdA1i0TBRFYZM~862BYVGQ0ZAA__);
}
#cyber-div {
    padding-top: 80vh;
    margin: 0;
}
#solar-panel {
    background-image: url(https://s3-alpha-sig.figma.com/img/63f9/ae84/a09b8cb46f83a23604fb332cca93df72?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Ef7sXxKB2Rh5ONfzXjjWVfNYQAWMtej1WH-ZCWZ4Tvsndol1jsxiOCb72oliN4~bp~14VC84EbdqoUg9AND4a2sTgbdDdfnanZmiLJJIgWZgWClJrU~XUWO3GBaJtdFEmkJrclwa9QzNzTqmKRa0QMeSS5clvBPbD1~6jyXiSiAc~-GCjQL27htLUiAujinUpLwlZ1vTqSb2x0zIWsEW9HBUDGb-GdtDDhXbVKtKVt0FS5f5i5ytykrNT-KRaV2e4QH1iV29uzfwTuQOsU3pFFvtRC~RB7hG0RQKM9jORo9hQZeaMHJISBIU5PMfVd2umeIwPLoBRFJmvWwy5cEwpg__);
}
#solar-roof {
    background-image: url(https://s3-alpha-sig.figma.com/img/a8f7/e0ef/c1749c353ea58a621c8c633b3efef56e?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=J5VNBDBWr7jBQVgFPHSCXjImPdtF5FTKm5PvtapqDhdDEkgCkbEeOdUT7pMyH3OsH9YF7yRwN4yUrHtBx-iUXleh~Se6YR35RLOwcWwsatA-E8r4ZvLJZZiKlAKLkpK17WVPx6XlmhmGv-whyVG3r2dGL55~mv1nT6RmZHUMhLeTWDIs9NVFhIsvFbVXIVNUKar~zEkIYtRUA~sJgEQtAWVUBVhl75OlljOzluyzyzbXmquU2Id6Mcbj7FGIJu~fDS-JrGIlv9~xVwU6kwb7p13NnFASkyf889q0tmxvVLaZTvI06EClzRgOXs4xRll9Bxxv6xpy4HRHO-3nVDfVMQ__);
}
#powerwall {
    background-image: url(https://s3-alpha-sig.figma.com/img/ee62/a6cb/442a5b4ec8bdd443fc0054bf3f323778?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dgfQwVonDyRHJGXC5hZJrQlyBi7RVvNTIZ0k-8xN5muZMlA0G0aSqbUSLIuBRasH6pQ7dCpr7r9fcydAc576t4A3O4d9eBkC1CIVfgUPBlXV~eHBLaeXUi6j7co~UyaEWnkGHcxFPvnsuC8L2s2KJQyteWM3jS8WHoIT7cj6jY4mtOIU-ALQEu8Lkx6eIvTqxvZ7da~i416~JJ4qa7QdGP9Z9WasNl~lK4oKWy5f-9K25imtueL-D8f5aWv0DvBzgEbyTPjwbAoy16qAwz9jVjQAZMzplsNoC43RD0RBfLI6STeeLcMvAiSoqwDVe-rz2cL1FoLKj486TxD40JU6jA__);
}
#accessories {
    background-image: url(https://s3-alpha-sig.figma.com/img/2854/a383/afb989857277aee6919710d8754a76f2?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Sl7us3DTbv4K3dNy0b-SBdAoolC39TJbIMK79YK3lBjh2Q0h-TD9qUmFz0i9BlgAxdioGgBWBrAqV6sTwngsj57JOBE9o2oYeWdHGcpia~B26F04mnBRYl6LKTBXTZ-3SHqj8IOusOtgsFL9la6U453zK8-EbJGkwqP00WxIedcQ3pkWbOPSevc08q05JMuEHq-FCHVI4PvsCXADbYdOpudqfAjJrt-c~~xB1TaeGtJH7XZApzQDJHuEnuYWICO2EJsgEDAXenFh~2wojfTBUfXFfgjRQZUb2nF0i7-rM1roL4DbAGYk8qbMdPISefF2Crh7Iz9OyhvTWIOIuvhpUg__);
}
#powerwall-ul {
    color: #ffff;
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    justify-content: center;
    align-items: flex-end;
    padding-top: 80px;
}
.powerwall-li {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
#video {
    height: 100vh;
    width: 100%;
    background-color: #000;
}
#ex-tesla {position: relative;
    z-index: 0;
    height: 100vh;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
#exp-div {
    position: absolute;
    top: 18px;
    left: auto;
    right: auto;
    z-index: 5;
    color: #ffff;
}
#exp-button {
    padding: 10px 40px;
    border: 0;
    border-radius: 4px;
    border: 3px solid #FFFFFF;
    backdrop-filter: blur(8px);
    background-color: transparent;
    margin-top: 300px;
    color: #ffff;
}